* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2em;
  background-color: #2c3e50; /* Darker background for a modern look */
  color: #ecf0f1; /* Light text for better contrast */
  font-family: "Poppins", sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
}

.wrapper img {
  max-width: 100%;
  border-radius: 0.5em; /* Rounded corners for images */
  transition: transform 0.3s ease-in-out;
}

.wrapper img:hover {
  transform: scale(1.1); /* Add a subtle scale effect on image hover */
}

#container,
#preview-container {
  background-color: #3498db; /* Accent color for containers */
  border-radius: 0.8em;
  padding: 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

#container p {
  font-size: 1em;
  line-height: 1.5;
  color: #bdc3c7; /* Lighter text color for better readability */
  text-align: justify;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1em;
}

button,
a {
  font-size: 1.2em;
  background-color: #e74c3c; /* Red color for buttons */
  border: none;
  outline: none;
  padding: 1em 2em;
  cursor: pointer;
  border-radius: 0.5em;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

button:hover,
a:hover {
  background-color: #c0392b; /* Darker red on hover for contrast */
}
